# PostgreSQL Configuration
POSTGRES_SERVER=pgm-bp17lyy946r9ez6gco.pg.rds.aliyuncs.com
POSTGRES_PORT=5432
POSTGRES_USER=dms_user_afa44bd
POSTGRES_PASSWORD=Yingey2011
POSTGRES_DB=kurisu
DB_POOL_PRE_PING=true
DB_POOL_RECYCLE_SECONDS=1800

# Redis Configuration
REDIS_HOST=r-bp1kdom03lvjwmlk5wpd.redis.rds.aliyuncs.com
REDIS_PORT=6379
REDIS_USER=r-bp1kdom03lvjwmlk5w
REDIS_PASSWORD=Yingey2011
# Optional: REDIS_DB=0
REDIS_SOCKET_CONNECT_TIMEOUT=5
REDIS_SOCKET_TIMEOUT=5
